body{
    font-family: 'Poppins', sans-serif;
    color:#5a5a5a;
}
h1{
    font-size: 50px;
    margin: 5px 0;
}
.orange-color{
    color: orange;
}
.flex{
    display: flex;
}
.adjust{
    width: 50%;
    margin: 50px;
    padding: 10px;
    
}
.link{
    background-image: linear-gradient(orange,orangered);
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;

    
}
.margin{
    margin-top: 220px;
}
#size{
    width: 75%;
    margin-left: 50px;
}
h2{
    font-size: 40px;
}
#personal-info{
    background-image: url(image/bg-body.png);
    background-position:center;
    background-repeat: no-repeat;
}
#text-center{
    text-align: center;
    padding: 0 30%;
}
.img-adjust{
    width:70%;
}
#recipie{
    display: flex;
    justify-content:space-evenly;
    
}
.column{
   
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
}
#extra{
    background-color: whitesmoke;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    border-radius: 30px;
    box-shadow: 10px 10px 10px whitesmoke;
    justify-content: space-evenly;
    
}

#last{
    background-color: #09091f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
h3{
    font-weight: 700;
    font-size: 2em;
}
