body{
    font-family: 'Poppins', sans-serif;
    color:#5a5a5a;
}
h1{
    font-size: 50px;
    margin: 5px 0;
}
#orange-color{
    color: orange;
}
section{
    display: flex;
}
div{
    width: 50%;
    margin: 50px;
    padding: 10px;
}
.gradient{
    background-color: orange;
    border: 20px orange solid;
    border-radius: 10px;
    
}
.margin{
    margin-top: 220px;
}
#size{
    width: 75%;
    margin-left: 50px;
}
h2{
    font-size: 50px;
}
#personal-info{
    background-image: url(image/bg-body.png);
    background-position:center;
    background-repeat: no-repeat;
}
